/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  font-family: 'Open Sans', 'Times New Roman', Helvetica, sans-serif;
}

.cabecario {
  /* font-family: 'Times New Roman', Helvetica, sans-serif; */
  background-color: #077D9B;
  color: #EBF0F1;
  border-radius: 10px;
  text-align: center;
}
.cabecario h1 {
  margin: 5px 5px;
  /* text-align: center; */
}

body {
  background-color: rgba(219, 238, 243, 0.363);
}

form p{
  text-align: right;
  position: relative;
  left: -300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  border-radius: 0px 0px 10px 10px
}

li {
  position: relative;
  float: left;
  left: 550px;
  font-size: 10pt;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 50px;
}

li a:hover {
  background-color: #ddd;
}

form {
  width: 800px;
  margin: auto;
}

form p {
  color: rgb(0, 113, 148);
  font-size: 10pt;
}
legend {
  color: #666;
  font-size: 13pt;
}

fieldset {
  margin: 20px;
  padding: 10px;
  height: 620px;
  border-radius: 6px;
}

input {
  font-weight: normal;
  font-size: 11pt;
  background-color: rgba(255, 255, 255, .8);
  width: 250px;
  margin-left: 10px;
  border-radius: 10px;
  padding: 2.5px;
}

input:focus {
  outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

img {
  max-width: 180px;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 200px;
  left: 815px;
}

input.pic {
  /* position: relative;
  left: 480px;
  top: -250px; */
  visibility: hidden;
}

button {
  border-radius: 8px;
  background-color:#077D9B;
  color: white;
  font-size: 11pt;
  position: absolute;
  left: 540px;
  top: 680px;
}

button:hover {
  border: 2px solid rgb(94, 91, 91);
}

label.btn {
  border-radius: 8px;
  background-color:#077D9B;
  font-size: 11pt;
  width: 200px;
  /* text-align: center; */
  position: absolute;
  left: 805px;
  top: 400px;
  -webkit-writing-mode: horizontal-tb !important;
  margin: 0em;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-rendering: auto;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
  box-sizing: border-box;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  padding: 1px 6px;
  color: white;
}

label.btn:hover {
  border: 2px solid rgb(94, 91, 91);
}

footer {
  background-color: rgb(94, 91, 91);
  color: #EBF0F1;
  text-align: center;
  height: 20px;
  padding: 5px 5px;
  border-radius: 10px;
}

span {
  font-size: 10px;
  color: rgb(255, 56, 56);
  visibility: hidden;
}

/* .error-input {
  outline-color: rgb(243, 9, 9);
  border-color: rgb(255, 56, 56);
} */
